.product-container{
    width: 1200px;
    padding: 0 20px 60px;
    margin: 0 auto;
    background-color: #fff;
}

.product-title {
    width: 100%;
    margin: 0 0 40px 0;
    font-size: 40px;
}

.product-title::after {
    display: block;
    content: '';
    border-bottom: 1px solid #e1e1e1;
    padding-top: 10px;
}

.product-custom-settings {
    margin-bottom: 40px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    width: 340px;
    padding: 20px 20px 40px 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e1e1e1;
}

.product-item-image {
    width:  220px;
    height: 220px;
}

.product-item-title {
    text-align: center;
    padding-bottom: 20px;
}

.product-item-panel {
    display: flex;
}

.product-item-buy {
    background-color: #fb565a;
    color: #fff;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
}

.product-item-price {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;

}

.product-card {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000073;
}

.product-card-content {
    width: 60%;
    height: 80%;
    border-radius: 10px;
    background-color: #ffffffff;
    padding: 40px;
    position: relative;
    overflow: auto;
}

.product-card-information {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.product-card-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.card-options-item {
    padding: 20px 0;
    border-bottom: 1px solid #999999;
    width: 100%;
    display: flex;
    align-content: baseline;
    align-items: center;
}

.card-close-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.card-close-button span {
    color: #fb565a;
}

.card-title {
    padding: 0;
    margin: 0;
}

.card-image {
    /*max-width: 400px;*/
    /*max-height: 300px;*/
    /*width: 100%;*/
    /*height: 100%;*/
}

.card-image img {
    width: 100%;
}

.option-param {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #000000;
    margin: 5px;
    background-color: #ffffff;
    text-align: center;
    outline: none;
}

.selected-option-param {
    background-color: #fb565a;
    color: #fff;
    border-color: #eeeeee;
}

.options-title {
    margin-right: 10px;
}

.price-value {
    font-size: 28px;
}

.main-product-information {
    width: 100%;
    display: flex;
    position: relative;
}

.service-tabs {
    list-style: none;
    display: flex;
    margin-bottom: 20px;
}

.service-tab {
    width: 100px;
    padding: 10px;
    margin: 5px;
    background-color: #eeeeee;
    border-radius: 5px;
    cursor: pointer;
}

.service-tab-active {
    background-color: #fb565a;
    color: #fff;
}

.description-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.description-item {
    padding: 10px;
}

.delivery-information {
    text-align: left;
}

.delivery-information-item {
    padding: 20px 0;
}

.delivery-information b {
    display: inline-block;
    margin-bottom: 10px;
}

.service-item {
    display: none;
}

.service-item-visible {
    text-align: left;
    display: block;
}
