.main-header{
    font-weight: 500;
    font-size: 16px;
}

.main-header-content{
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 20px 80px;
}

.top-header-box {
    padding: 40px 0;
}

.top-header-container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.top-header-container a{
    display: flex;
    align-items: center;
    text-decoration: inherit;
    color: inherit;
}

.main-logo{
    display: flex;
    align-items: baseline;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-logo_title {
    display: flex;
    align-items: center;
    font-size: 50px;
    color: #fb565a;
    margin-right: 10px;
}

.phone-container {
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.phone-number {

}

.phone-icon {
    width: 30px;
    color: #fb565a;
    font-weight: 700;
}
